{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GasKoker</title>
    <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
</head>
<body class="bg-indigo-900">

    <div class=" content ">
        <div class="my-24 md:my-8 ">
            <ul class="flex justify-around mx-auto content-start ">
                <li>
                    <a class="text-sm block bg-green-400 text-blue-500 rounded-xl p-2 hover:bg-green-600 hover:text-red-900 transform hover:-translate-y-1 hover:scale-110 " href="{% url 'info'%}" >Informacion</a>
                </li>
                <li>
                    <a class="text-sm block bg-green-400 text-blue-500 rounded-xl p-2 hover:bg-green-600 hover:text-red-900 transform hover:-translate-y-1 hover:scale-110 " href="{% url 'form'%}" >Formulario</a>
                </li>
                
                <li>
                    <a class="text-sm block bg-green-400 text-blue-500 rounded-xl p-2 hover:bg-green-600 hover:text-red-900 transform hover:-translate-y-1 hover:scale-110 " href="{% url 'logout'%}" >Salir</a>
                </li>
                
            </ul>
        </div>
    </div>

    {% block content %}  
    {% endblock %}
</body>
</html>