{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="flex justify-center inline-block lg:mt-12 md:mt-4 sm:mt-2">
        <div class=" ">
            <form class="flex bg-blue-700 grid grid-cols-2 p-2 rounded-lg ">
                <input class="placeholder-red-500 grid col-span-2 border p-2 m-2 text-center" placeholder="Cliente" title="Cliente" name="cliente" >
                <input class="placeholder-red-500 grid col-span-1 col-start-1 border p-2 m-2 text-center" placeholder="Telefona" title="Telefono" name="telefono" >
                <input class="placeholder-red-500 grid col-span-1 col-start-2 border p-2 m-2 text-center" placeholder="Direccion" title="Direccion" name="direccion" >
                <input class="placeholder-red-500 grid col-start-1 col-end-3 border p-2 m-2 text-center" placeholder="Reprecentante" title="Reprecentante" name="reprecentante" >
                <div class="flex justify-center grid col-span-2">
                    <button class="flex justify-center inline bg-purple-800 p-2 rounded-lg transform hover:-translate-y-1 hover:scale-110 hover:bg-indigo-900">Aceptar✅</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}