{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GasKoker</title>
    <script src="{% static 'js/cdn.tailwindcss.js' %}"></script>
</head>
<body class="bg-blue-800">
    <div class="content mx-auto ">
        <div class=" flex justify-center  inline-block mt-24 p-4 md:mt-12 ">
            <div class="bg-gray-300 grid grid-cols-1 rounded-3xl shadow-2xl pl-4 pr-4 pb-4 " >
                <form method="post" class="grid grid-cols-1">
                    {% csrf_token %}
                    <h1 class="flex justify-center text-red-500 bg-purple-800  text-3xl italic inline-block  rounded-lg   ">Entrar</h1>
                    <input placeholder="Usuario" title="Escribe" name="username" class="rounded-3xl h-6 m-2 px-2">
                    <input type="password" placeholder="Contraseña" title="Escribe" name="password" class="rounded-3xl h-6 m-2 px-2">
                    <h1 class="text-red-500"> {{ error }} </h1>
                    <button class="flex justify-center inline-block  transform hover:-translate-y-1 hover:scale-110">Aceptar✅</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>